.header {
    padding-top: 17px;

    .header__wrapper {
        @include flex-all-sb;

        .header__logo {
            width: 110px;
            height: 26px;
        }

        .menu__list {
            @include flex;

            .menu__item {
                margin-right: 51px;

                .menu__link {
                    color: $FFFFFF;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .menu__item:nth-last-child(2) {
                margin-right: 32px;
            }

            .menu__item:last-child {
                margin-right: 16px;
            }
        }
    }
}

.header_position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}
