@mixin grid-template-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
}

@mixin grid-template-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 48px;
}
