<section class="approach">
    <div class="container">
        <div class="approach__top">
            <div class="approach__left">
                <h3 class="approach__heading">
                    A human–centered definition of success.
                </h3>
                <p class="approach__description">
                    Our approach is shaped by the perspective and experience of
                    people impacted by the justice system. Together, we are
                    focused on restoring equity and supporting approach in the
                    community.
                </p>
                <button class="btn-reset approach__button" type="button">
                    Our approach
                </button>
            </div>
            <div class="approach__right">
                <picture>
                    <source
                        type="image/avif"
                        srcset="
                            img/approachFirst.avif,
                            img/approachFirst_2x.avif 2x
                        "
                    />
                    <source
                        type="image/webp"
                        srcset="
                            img/approachFirst.webp,
                            img/approachFirst_2x.webp 2x
                        "
                    />
                    <img
                        src="img/approachFirst.jpg"
                        srcset="img/approachFirst_2x.jpg 2x"
                        alt="approachFirst"
                    />
                </picture>

                <picture>
                    <source
                        type="image/avif"
                        srcset="
                            img/approachSecond.avif,
                            img/approachSecond_2x.avif 2x
                        "
                    />
                    <source
                        type="image/webp"
                        srcset="
                            img/approachSecond.webp,
                            img/approachSecond_2x.webp 2x
                        "
                    />
                    <img
                        src="img/approachSecond.jpg"
                        srcset="img/approachSecond_2x.jpg 2x"
                        alt="approachSecond"
                    />
                </picture>
            </div>
        </div>
        <div class="approach__bottom">
            <ul class="approach__list grid-12 list-reset">
                <li class="approach__item approach__item_ted">
                    <p class="approach__paragraph approach__paragraph_ted">
                        TED Talks
                    </p>
                </li>
                <li class="approach__item approach__item_nyt">
                    <p class="approach__paragraph">The New York Times</p>
                </li>
                <li class="approach__item approach__item_scoop">
                    <p class="approach__paragraph">StateScoop</p>
                </li>
                <li class="approach__item approach__item_press">
                    <p class="approach__paragraph">Associated Press</p>
                </li>
                <li class="approach__item approach__item_time">
                    <p class="approach__paragraph">Time</p>
                </li>
                <li class="approach__item approach__item_freethink">
                    <p class="approach__paragraph">Freethink</p>
                </li>
            </ul>
        </div>
    </div>
</section>
