<header class="header header_position">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="/">
                <picture>
                    <source type="image/avif" srcset="img/logo.avif" />
                    <source type="image/webp" srcset="img/logo.webp" />
                    <img src="img/logo.png" alt="logo" />
                </picture>
            </a>
            <nav class="menu">
                <ul class="menu__list list-reset">
                    <li class="menu__item">
                        <a class="menu__link" href="#">States</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Tools</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">People</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Learn More</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Donate</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Log in</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
