<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <title>Recidiviz</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Public+Sans&display=swap"
        rel="stylesheet"
    />
    <link href="css/vendor.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/main.js" defer></script>
</head>
