<section class="hero">
    <div class="container">
        <div class="hero__main">
            <div class="hero__content">
                <h1 class="hero__title">
                    Every person who safely transitions back to the community is
                    a step toward a better society.
                </h1>
                <p class="hero__subtitle">
                    Criminal justice leaders use Recidiviz to get a real-time
                    picture of their system, diagnose issues, and drive
                    meaningful changes.
                </p>
                <a class="hero__action">See our work in action</a>
            </div>
        </div>
        <div class="hero__bottom">
            <h2 class="hero__description">Trusted in:</h2>
            <ul class="list-reset hero__list">
                <li class="hero__item">
                    <p class="hero__text">Idaho</p>
                </li>
                <li class="hero__item">
                    <p class="hero__text">Maine</p>
                </li>
                <li class="hero__item">
                    <p class="hero__text">Missouri</p>
                </li>
                <li class="hero__item">
                    <p class="hero__text">North Dakota</p>
                </li>
                <li class="hero__item">
                    <p class="hero__text">Pennsylvania</p>
                </li>
                <li class="hero__item">
                    <p class="hero__text">Tennessee</p>
                </li>
            </ul>
        </div>
    </div>
</section>
