<section class="information">
    <div class="information__image"></div>
    <div class="container grid-12">
        <h2 class="information__title">
            Get the right information to the right person at the right time.
        </h2>
        <ul class="information__list list-reset">
            <li class="information__item">
                <h4 class="information__heading">For Leaders</h4>
                <p class="information__description">
                    Set goals, forecast the impact of policy or practice
                    changes, and track their outcomes across your agency.
                </p>
            </li>
            <li class="information__item">
                <h4 class="information__heading">For Line Staff</h4>
                <p class="information__description">
                    Track probation and parole outcomes, see what’s leading to
                    success, and reduce recidivism with our case management
                    system.
                </p>
            </li>
            <li class="information__item">
                <h4 class="information__heading">For the Public</h4>
                <p class="information__description">
                    Use open source code, public data, interactive tools, and
                    data visualizations to understand the state of
                    incarceration, promote accountability, and conduct research.
                </p>
            </li>
            <li class="information__item">
                <h4 class="information__heading">
                    For Policymakers and Advocates
                </h4>
                <p class="information__description">
                    Project the impact of policies on carceral, fiscal, and
                    community outcomes. Understand where disparities begin,
                    where they grow, and whether a policy is likely to increase
                    or reduce them.
                </p>
            </li>
        </ul>
    </div>
</section>
