<section class="partners">
    <div class="container">
        <div class="partners__wrapper">
            <p class="partners__title">Partners</p>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/reform.avif, img/reform_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/reform.webp, img/reform_2x.webp 2x"
                />
                <img
                    src="img/reform.jpg"
                    srcset="img/reform_2x.jpg 2x"
                    alt="reform"
                />
            </picture>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/futures.avif, img/futures_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/futures.webp, img/futures_2x.webp 2x"
                />
                <img
                    src="img/futures.jpg"
                    srcset="img/futures_2x.jpg 2x"
                    alt="futures"
                />
            </picture>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/crime.avif, img/crime_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/crime.webp, img/crime_2x.webp 2x"
                />
                <img
                    src="img/crime.jpg"
                    srcset="img/crime_2x.jpg 2x"
                    alt="crime"
                />
            </picture>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/mozilla.avif, img/mozilla_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/mozilla.webp, img/mozilla_2x.webp 2x"
                />
                <img
                    src="img/mozilla.jpg"
                    srcset="img/mozilla_2x.jpg 2x"
                    alt="mozilla"
                />
            </picture>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/aclu.avif, img/aclu_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/aclu.webp, img/aclu_2x.webp 2x"
                />
                <img
                    src="img/aclu.jpg"
                    srcset="img/aclu_2x.jpg 2x"
                    alt="aclu"
                />
            </picture>
            <picture>
                <source
                    type="image/avif"
                    srcset="img/y.avif, img/y_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/y.webp, img/y_2x.webp 2x"
                />
                <img src="img/y.jpg" srcset="img/y_2x.jpg 2x" alt="yPartner" />
            </picture>
            <a href="#" class="partners__all">See all</a>
        </div>
    </div>
</section>
