<section class="press">
    <div class="container">
        <div class="press__head">
            <h2 class="press__title">Recidiviz in the Press</h2>
            <button class="press__button btn-reset">See All</button>
        </div>
        <ul class="press__list grid-12 list-reset">
            <li class="press__item">
                <div class="press__block press__block_ted">
                    <p class="press__heading">TED Talks</p>
                    <p class="press__time">2.22.22</p>
                </div>
                <p class="press__description">
                    Meet the 2022 class of TED Fellows
                </p>
            </li>
            <li class="press__item">
                <div class="press__block press__block_news">
                    <p class="press__heading">Correctional News</p>
                    <p class="press__time">2.22.22</p>
                </div>
                <p class="press__description">
                    New Partnership Aims to Help Transform Prison Conditions
                </p>
            </li>
            <li class="press__item">
                <div class="press__block press__block_department">
                    <p class="press__heading">Department of Justice</p>
                    <p class="press__time">1.26.22</p>
                </div>
                <p class="press__description">
                    Justice Department Establishes Initiative to Strengthen
                    States’ Use of Criminal Justice Data
                </p>
            </li>
            <li class="press__item">
                <div class="press__block press__block_ny">
                    <p class="press__heading">The New York Times</p>
                    <p class="press__time">12.27.21</p>
                </div>
                <p class="press__description">The 2021 Good Tech Awards</p>
            </li>
            <li class="press__item">
                <div class="press__block press__block_doc">
                    <p class="press__heading">Corrections1</p>
                    <p class="press__time">11.18.21</p>
                </div>
                <p class="press__description">
                    Maine DOC to better harness correctional data to improve
                    outcomes
                </p>
            </li>
            <li class="press__item">
                <div class="press__block press__block_crime">
                    <p class="press__heading">Right on Crime</p>
                    <p class="press__time">9.9.21</p>
                </div>
                <p class="press__description">
                    Together, We Can Make Mississippi Safer and Reentry-Ready
                </p>
            </li>
        </ul>
    </div>
</section>
