<section class="where">
    <div class="container">
        <div class="where__content grid-12">
            <div class="where__left">
                <h2 class="where__title">Where we work</h2>
                <p class="where__description">
                    We're expanding. Get in touch and start turning your data
                    into action.
                </p>
                <button class="where__button btn-reset">Get in touch</button>
            </div>
            <picture class="where__picture">
                <source
                    type="image/avif"
                    srcset="img/map.avif, img/map_2x.avif 2x"
                />
                <source
                    type="image/webp"
                    srcset="img/map.webp, img/map_2x.webp 2x"
                />
                <img src="img/map.png" srcset="img/map_2x.png 2x" alt="map" />
            </picture>
        </div>
    </div>
</section>
