// base
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

//fonts
$public-sans: 'Public Sans', sans-serif;
$libre-baskerville: 'Libre Baskerville', serif;

// colors (100-900)
$white-100: #fff;
$white-200: #f4f5f5;
$white-300: #fafafa;
$white-400: #edeceb;

$black-100: #000f0f;

$green-100: #00665f;
$green-200: #014c48;
$green-300: #00413e;
$green-400: #003331;
$green-500: #001f1f;
$green-600: #001414;

$blue-100: #7d9798;
$blue-200: #355362cc;

$grey-100: #35536233;
$grey-200: #35536299;

$emerald-100: #55d8d8;
